.destinations-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}


.destinations .item .img-item{
    width: 100%;
    height: 368px;
}

.destinations-items .item.tokyo .img-item {
    background: url(../img/tokyo-mobile.jpg);
    background-size: cover;
    height: 360px;
}

.destinations-items .item.osaka .img-item{
    background: url(../img/osaka-mobile.jpg);
    background-size: cover;
    height: 360px;
}

.destinations-items .item h4{
    font-size: 28px;
    font-weight: var( --titles-weight);
    margin-bottom: 24px;
}

.destinations-items .item p{
    font-size: 20px;
    font-weight: var(--text-weight);
    line-height: 32px;
    margin-bottom: 24px;
}

.destinations-items .button{
    width: 100%;
    text-align: center;
    border-radius: 8px;
}
@media screen and (min-width: 768px) {
    .destinations .button{
        width: 280px;
    }
}