@font-face{
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-style: normal;
    font-display: swap;
}

:root{
    --primary-color:#8F0101;
    --secundary-color:#B81515;

    --background-primary-color: #FFFFFF;
    --background-secundary-color: #F5F5F5;
    --background-tertiary-color: #000000;

    --text-primary-color:#222222;
    --text-secundary-color:#FFFFFF;

    --titles-weight: 700;
    --text-weight:400;
    --menu-text-weight:500;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat";
    color: var(--text-primary-color);
}

section{
    width: 312px;
    margin: 0 auto 88px;
}

section.hero{
    width: 100%;
    margin: 0;
}

.section-title{
    width: 270px;
    margin: 0 auto 32px;
}

.section-title h2{
    margin: 0;
    font-size: 28px;
    font-weight: var(--titles-weight);
    text-align: center;
}
.section-title hr{
    width: 180px;
    height: 4px;
    background-color: var(--secundary-color);
    border: none;
    margin: 16px auto 32px ;
}

.button{
    min-width: 280px;
    height: 64px;
    display: inline-block;
    color: var(--text-secundary-color);
    font-size: 20px;
    font-weight: var(--titles-weight);
    text-decoration: none;
    background-color: var(--secundary-color);
    line-height: 64px;
    border-radius: 16px;
    text-align: center;
}

.content-title{
    font-size: 28px;
    font-weight: var(--titles-weight);
}
.content-text{
    font-size: 20px;
    font-weight: var(--text-weight);
    line-height: 32px;
}

@media screen and (min-width: 768px) {
    section{
        width: 648px;
    }
    .section-title{
        width: 100%;
    }
    .section-title h2{
    font-size: 32px;
}
}


@media screen and (min-width:1024px) {
    section{
        width: 900px;
    }
    .button:hover{
        background-color: var(--primary-color);
    }
}
@media screen and (min-width:1440px) {
    section{
        width: 1200px;
    }
}