header{
    background-color: var(--background-tertiary-color);
    width: 100%;
    height: 138px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 38px 48px;
    align-items: flex-start;
}
.logo{
    width: 68px;
    height: 64px;
    display: inline-block;
}

.navigation-menu{
    margin-top: 24px;
}

input[type="checkbox"]:checked~nav{
    display:block;
}

nav{
    display: none;
}