.offers-cards{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin-bottom: 104px;
}

.offers-cards .cards {
  color: var(--text-secundary-color);
  background-color: black;
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
}

.offers-cards .cards header {
  margin-bottom: 24px;
}
.offers-cards .cards header h3 {
  font-size: 40px;
  margin: 8px 0 0;
}
.cards header span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}
.offers-cards .cards.japao{
    background:url(../img/bg-card-japao.jpg) no-repeat;
    background-size: cover;
}
.offers-cards .cards.san-andreas{
    background:url(../img/bg-card-san-andreas.jpg) no-repeat;
    background-size: cover;
}
.offers-cards .cards.paraiba{
    background:url(../img/bg-card-paraiba.jpg) no-repeat;
    background-size: cover;
}
.offers-cards .cards.manaus{
    background:url(../img/bg-card-manaus.jpg) no-repeat;
    background-size: cover;
}

@media screen and (min-width:768px) {
    .offers-cards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (min-width: 1024px) {
  .offers-cards .cards {
    width: 420px;
    height: 308px;
  }
  .offers-cards .cards header h3 {
    font-size: 48px;
  }
  .offers-cards .cards header span {
    font-size: 40px;
  }
}
@media screen and (min-width:1440px) {
    .offers-cards .cards{
        width: 588px;
    }
}
@media screen and (min-width: 1920px) {
    .offers-cards .cards{
        width: 1250px;
        margin: 0 auto;
    }
}
